
#btn button:hover{
color: rgb(1, 1, 56);
}
.footer_strip{
    background-image: url(images/sprite.png);
}
#btn input:hover{
    color: rgb(1, 1, 56);
    
}

#footer_details{
    box-shadow: 0 -10px 31px -19px rgba(115, 115, 115, 0.7);
}